*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --darker: #190482;
    --dark: #322653;
    --semi-dark: #673dff;
    --semi-light: #7752FE;
    --light: #8E8FFA;
    --lighter:#C2D9FF;
    --white: #ECF2FF;
    --black: #272829;
}

#home-page{
    height: 100%;
}


.header{
    width: 100%;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    transition: 0.5s;
    z-index: 1;
}

.header.sticky{
    padding: 0.5rem 10.5rem;
    background: rgb(50,38,83, 0.5);
    backdrop-filter: blur(10px);
}

.header a .logo{
    width: 55%;
}

#navbar ul{
    display: flex;
    gap: 3rem;
}

#navbar ul li{
    list-style: none;
}

#navbar ul li a{
    position: relative;
   font-weight: 500;
   font-size: 0.9rem;
   text-decoration: none;
   color: var(--white);
   letter-spacing: 1px;
   transition: 0.5s ease;
   text-transform: uppercase;
}

#navbar ul li a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: width 0.3s; 
}

#navbar ul li a:hover::before {
    width: 100%;
}

#navbar ul li a.active::before{
    width: 100%;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--light);
    margin: 5px 0;
}

#navbar ul li a:active{
    color: var(--black);
}

@media screen and (max-width: 768px) {
    .header{
        padding: 1rem;
        z-index: 1;
    }
    
    .header.sticky{
        padding: 1.2rem;
        background: rgb(50,38,83, 0.5);
        backdrop-filter: blur(0);
    }
    .burger-menu {
        display: flex;
        z-index: 1;
    }

    .logo{
        display: none;
    }

    #navbar ul {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgb(50,38,83, 0.6);
        padding: 20px;
        box-sizing: border-box;
    }

    #navbar ul.show {
        display: flex;
    }

    #navbar ul li {
        margin-bottom: 10px;
    }
    #navbar ul li a{
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .header{
        padding: 1rem;
        z-index: 1;
    }
    
    .header.sticky{
        padding: 1.2rem;
        background: rgb(50,38,83, 0.5);
        backdrop-filter: blur(0);
    }
    .burger-menu {
        display: flex;
        z-index: 1;
    }

    .logo{
        display: none;
    }

    #navbar ul {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgb(50,38,83, 0.6);
        padding: 20px;
        box-sizing: border-box;
    }

    #navbar ul.show {
        display: flex;
    }

    #navbar ul li {
        margin-bottom: 10px;
    }
    #navbar ul li a{
        font-size: 0.8rem;
    }
}


.home-content{
    padding: 10% 12%;
}

.hero{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero .title{
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark);
}

.hero .description{
    font-size: 1rem;
    color: var(--black);
}

.hero .description span{
    color: var(--lighter);
}

.button a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 7px 20px;
    background:var(--black);
    color: var(--white);
    border-radius: 20px;
}

.button a:hover{
    background: var(--dark);
}


.home-background img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    z-index: -1;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    z-index: -1;
    background-color: #0d0d0d;
    mix-blend-mode: overlay;
}


@media screen and (max-width: 768px){
    #home-page{
        height: 100%;
    }
    .home-content{
        padding: 30% 3%;
    }
    
    .hero{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .hero .title{
        font-size: 2rem;
        font-weight: 600;
    }
    
    .hero .description{
        font-size: 0.8rem;
    }
    
    .button a{
        font-size: 0.8rem;
        padding: 5px 15px;
        border-radius: 15px;
    }

    .home-background img{
        height: 100%;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .home-content{
        padding: 17% 5%;
    }
    
    .hero{
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .hero .title{
        font-size: 2rem;
        font-weight: 700;
    }
    
    .hero .description{
        font-size: 0.9rem;
    }
    
    .button a{
        font-size: 0.9rem;
        padding: 5px 15px;
        border-radius: 15px;
    }
    .home-background img{
        height: 100%;
    }
    
}

@media only screen and (max-width: 1024px){
    
}


#about-page{
    height: 100%;
    background-color: var(--white);
}

.about-container{
    padding: 2rem 12%;
}

.about-content{
    display: flex;
    flex-direction: column;
}

.about-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.about-text{
    width: 60%;
}

.about-text .sub-title{
    font-size: 1rem;
    font-size: 500;
    color: var(--dark);
    text-transform: lowercase;
}

.about-text .title{
    color: var(--dark);
    letter-spacing: 0.5px;
    font-size: 2.5rem;
    font-weight: 600;
}

.about-text .description{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--black);
    line-height: 1.5rem;
}

.about-text .description span{
    color: var(--darker);
}

.second-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about-who{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.second-content .title{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--dark);
}


.second-content .description{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--black);
    line-height: 1.5rem;
}

.second-content span{
    color: var(--darker);
}

.who-text{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

.about-vision{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vision{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

.about-pillar .pillar{
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.pillar-title{
    font-size: 1rem;
    color: var(--lighter);
    text-transform: capitalize;
    letter-spacing: 0.3px;
    font-weight: 600;
}


.pillar-row{
    width: 100%;
    padding-top: 3rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    flex-wrap: wrap;
}

.pillar-cards{
    flex-basis: 28%;
    padding: 3rem;
    margin-bottom: 30px;
    border: 5px;
    cursor: pointer;
    box-shadow: 0 10px 20px 3px #e8ebee;
    transition: 0.5s ease-in-out 100ms;
    background: var(--dark);
    border-radius: 5px;
}

.pillar-cards .description{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--lighter);
    text-align: justify;
    line-height: 1.5rem;
}

.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 10px;
}

.card-content i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 45px;
    width: 45px;
    background: var(--white );
    color: var(--dark);
    border-radius: 50%;
    font-size: 1rem;
}



@media screen and (max-width: 768px){
    .about-container{
        padding: 2rem 3%;
    }

    .about-content{
        gap: 2rem;
    }
    .about-text{
        width: 100%;
    }

    .about-text .title{
        font-size: 1.8rem; 
    }

    .about-text .description{
        font-size: 0.8rem; 
    }

    .about-image{
       display: none;
    }   


    .second-content .image{
        display: none;
    }

    .second-content .title{
       font-size: 2rem;
       text-align: center;
    }

    .second-content .description{
        font-size: 0.8rem;
    }

    .who-text{
        width: 100%;
        text-align: justify;
    }

    .vision{
        width: 100%;
        text-align: justify;
    }

    .about-pillar .pillar{
        font-size: 1rem;
    }
    

    .pillar-container{
        padding: 0 5%;
    }

    .pillar-row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 1.5rem;
    }

    .pillar-cards{
        flex-basis: 100%;
        padding: 2.5rem;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .about-container{
        padding: 2rem 3%;
    }
    .about-text{
        width: 60%;
    }

    .about-text .title{
        font-size: 2rem; 
    }

    .about-text .description{
        font-size: 0.9rem; 
    }

    .about-image img{
        width: 85%;
    }
    

     .second-content .image img{
        width: 100%;
    }

    .second-content .title{
       font-size: 2.5rem;
    }

    .second-content .description{
        font-size: 0.9rem;
    }

    .who-text{
        width: 60%;
        text-align: left;
    }

    .vision{
        width: 60%;
        text-align: left;
    }

    .second-content .image{
        display: block;
    }


    .pillar-container{
        padding: 0;
    }

    .pillar-row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        padding-top: 1.5rem;
    }

    .pillar-cards{
        flex-basis: 60%;
        padding: 2.5rem;
    }

    .pillar-cards .description{
        text-align: center;
    }


}


#resources-page{
    height: 100%;
    background-color: var(--lighter);
}

.resources-container{
    padding: 2rem 12%;
}

.resources-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.resources-title{
    font-size: 1.5rem;
    color: var(--dark);
    text-transform: capitalize;
    letter-spacing: 0.3px;
    font-weight: 700;
    text-align: center;
}

.resources-subtitle{
    font-size: 1rem;
    color: var(--black);
    text-transform:none;
    letter-spacing: 0.3px;
    font-weight: 500;
    text-align: center;
}

.resources-content{
    margin-bottom: 3rem;
}

.resources-row{
    padding-top: 3rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    flex-wrap: wrap;
}

.resources-col{
    flex-basis: 20%;
    padding: 25px 50px;
    border: 5px;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 var(--light);
}

.col-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.col-content i{
    font-size: 5rem;
}

.col-content .col-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.col-content{
    color: var(--white);
}

.html {
    background: linear-gradient(to right, #E44D26, #F16529);
  }
.css {
    background: linear-gradient(to right, #1572B6, #0092D0);
  }

.php {
    background: linear-gradient(to right, #4F5D95, #777BB3);
  }

.js {
    background: linear-gradient(to right, #F0DB4F, #ae9401);
  }


  @media screen and (max-width: 768px){

    .resources-title{
        font-size: 1.2rem;
    }
    
    .resources-subtitle{
        font-size: 0.8rem;
    }

    .resources-col{
        flex-basis: 100%;
        margin: 1rem 0;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 1023px){
    .resources-title{
        font-size: 1.3rem;
    }
    
    .resources-subtitle{
        font-size: 0.9rem;
    }

    .resources-col{
        flex-basis: 100%;
        margin: 1rem 0;
    }
  }

#review-page{
    height: 100%;
    background-color: var(--white);
}

.review-container{
    padding: 2rem 12%;
}

.review-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.review-title{
    font-size: 1.5rem;
    color: var(--dark);
    text-transform: capitalize;
    letter-spacing: 0.3px;
    font-weight: 700;
    text-align: center;
}

.content-title{
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
    letter-spacing: 0.3px;
    font-weight: 700;
    text-align: center;
}

.review-row{
    padding-top: 3rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    flex-wrap: wrap;
}

.review-col{
    flex-basis: 28%;
    padding: 15px;
    margin-bottom: 30px;
    border: 5px;
    cursor: pointer;
    box-shadow: 0 10px 20px 3px var(--lighter);
    transition: 0.5s ease-in-out 100ms;
}

.review-col p{
    color: var(--black);
    font-size: 0.9rem;
}

.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info{
    text-align:left;
}

.user-info h4{
    color: var(--black);
    text-transform: capitalize;
}

.user-info small{
    color: var(--semi-light);
    text-transform: lowercase;
}

.user-info .fa{
    color: var(--dark);
    margin-left: 10px;
    font-size: 18px;
}

@media screen and (max-width: 768px){
    .review-title{
        font-size: 1rem;
    }
    
    .content-title{
        font-size: 2rem;
    }
    .review-col{
        flex-basis: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .review-title{
        font-size: 1.2rem;
    }
    
    .content-title{
        font-size: 2.3rem;
    }

    .review-row{
        margin: auto;
    }

    .review-col{
        flex-basis: 100%;
        margin: 10px auto;
    }
}

#faqs-page{
    height: 100%;
    background: var(--lighter);
}

.faq-container{
    padding: 2rem 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faq-title{
    font-size: 1.5rem;
    color: var(--dark);
    text-transform: capitalize;
    letter-spacing: 0.3px;
    font-weight: 700;
    text-align: center;
}

.faq-content {
    width: 80%;
    max-width: 600px;
    padding: 3rem 0;
  }
  
  .faq-item {
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in;
    color: var(--black);
  }

  .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .question i{
    margin-left: 1rem;
  }
  
  .question {
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .answer {
    padding: 15px;
    display: none;
    background-color: var(--dark);
    color: var(--lighter);
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.3px;
  }
  
  .faq-item.active .answer {
    display: block;
  }


  @media screen and (max-width: 768px){
    .faq-container{
        padding: 2rem 3%;
    }

    .faq-content {
        width: 100%;
        padding: 3rem 0;
      }

    .question{
        font-size: 0.9rem;
    }

    .answer{
       font-size: 0.7rem;
    }
  }

#contact-page{
    height: 100%;
    background-color: var(--white);
}

.contact-container{
    padding: 2rem 10%;
}

.contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--semi-light);
    padding: 2rem 0;
}

.contact-title{
    font-size: 3rem;
    font-weight: 700;
    color: var(--black);
    letter-spacing: 0.3px;
    text-transform: capitalize;
}

.contact-group{
    position: relative;
    margin: 0.5rem auto;
}

.contact-group input, textarea{
    width: 100%;
    padding: 10px 30px;
    font-size: 1rem;
    outline: none;
    border: none;
    background: var(--lighter);
}

.contact-group textarea{
    padding: 5px;
}

.contact-group i{
    position: absolute;
    top: 35%;
    left: 1%;
    color: var(--semi-light);
    font-size: 1rem;
}

.contact-image img{
    width: 120%;
}

.contact-button a{
    padding: 10px 15px;
    background: var(--black);
    color: var(--semi-light);
    font: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.3s;
}

.contact-button a:hover{
    background: transparent;
    border: 1px solid var(--black);
    color: var(--black);
}

@media screen and (max-width: 768px){
    .contact-container{
        padding: 2rem 3%;
    }
    
    .contact-content{
        padding: 1rem;
    }
    
    .contact-title{
        font-size: 2rem;
        text-align: center;
    }
    
    
    .contact-group input, textarea{
        font-size: 0.8rem;
    
    }
    
    .contact-group i{
        position: absolute;
        top: 30%;
        left: 1%;
        color: var(--dark);
        font-size: 1rem;
    }
    
    .contact-image img{
        display: none;
    }
    
    .contact-button a{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .contact-container{
        padding: 2rem 5%;
    }
    
    .contact-content{
        padding: 2rem;
    }
    
    .contact-title{
        font-size: 2.5rem;
    }
    
    
    .contact-group input, textarea{
        font-size: 0.9rem;
    }
    
    .contact-group i{
        position: absolute;
        top: 30%;
        left: 1%;
        color: var(--dark);
    }
    
    .contact-image img{
        width: 100%;
    }
    
    .contact-button a{
        padding: 8px 15px;
        font: 0.7rem;
    }
}

#footer{
    height: 100%;
    background-color: var(--lighter);
}

.footer-container{
    padding: 2rem 12%;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
}

.details .footer-logo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--semi-dark);
    text-transform: capitalize;
}

.location-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.location-content .title{
    font-size: 1.5rem;
    color: var(--black);
}

.location-content .location{
    font-size: 0.8rem;
    font-weight: 400;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact i{
    margin-right: 5px;
}

.contact h3{
    font-size: 0.8rem;
    color: var(--black);
    font-weight: 600;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titles{
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark);
    text-transform: capitalize;
}

.menu ul{
    display: flex;
    flex-direction: column;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--black);
}

.menu ul li a:hover{
    color: var(--semi-light);
}

.menu i{
    margin-right: 5px;
    color: var(--semi-dark);
}

.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.link-content{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.link-content .title{
    font-size: 0.9rem;
    color: var(--black);
}

.link-content a{
    font-size: 0.8rem;
    color: var(--black);
}

.link-content a:hover{
    color: var(--semi-light);
}

.link-content i{
    margin-left: 5px;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.nav-title{
    font-size: 1rem;
    color: var(--black);
    font-weight: 600;
}

nav ul{
    display: flex;
    gap: 1rem;
}

nav ul li{
    list-style: none;
}

nav ul li a .fa{
    height: 35px;
    width: 35px;
    font-size: 1rem;
    color: var(--semi-light);
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.3s;
}

nav ul li a .fa:hover{
    transform: translateY(-5px);
}

#foot{
    background: var(--black);
}

.foot-container{
    padding: 2rem;
}

.foot .footer-title{
    color: var(--white);
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
}

.footer-title span{
    font-family:'Times New Roman', serif;
    font-style: italic;
    letter-spacing: 0.3px;
    color: var(--semi-light);
}


@media screen and (max-width: 768px){
    .footer-container{
        padding: 2rem 3%;
    }
    .footer-content{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .details{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .navigation{
       width: 100%;
    }
    .foot .footer-title{    
        font-size: 0.7rem;
    }

    .links{
        width: 100%;
    }
    

}


@media only screen and (min-width: 768px) and (max-width: 1023px){
    .footer-container{
        padding: 2rem 5%;
    }

    .footer-content{
        display: flex;
        justify-content: flex-start;
        gap: 5rem;
    }
    .foot .footer-title{
        font-size: 0.8rem;
    }

    .links{
        width: 100%;
    }
}

